name: Update Docker Hub README everytime it changes on master

env:
    ACTIONS_ALLOW_UNSECURE_COMMANDS: true
on:
  push:
    branches: [ 'master' ]
    paths:
      - README.md
      - '.github/workflows/update-readme.yml'

jobs:
  sync:
    name: Update README to Docker Hub
    runs-on: ubuntu-22.04

    steps:
      - uses: actions/checkout@v4

      - name: Setup Environment
        run: echo ::set-env name=SLUG::"$(echo ${GITHUB_REPOSITORY,,} | sed 's/docker-//')"

      - name: Sync README.md and Description to Docker Hub
        uses: meeDamian/sync-readme@v1.0.6
        with:
          user: ${{ secrets.DOCKER_USER }}
          pass: ${{ secrets.DOCKER_PASS }}
          slug: ${{ env.SLUG }}
          description: true
